.symbolsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
}

.symbolsGrid_loadingWrapper {
  width: 100%;
  padding-top: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
}
