.symbolsView {
  display: flex;
}

.symbolsView__cards {
  flex-grow: 1;
}
.symbolsView__chart {
  padding: 12px;
}

@media (max-width: 1023px) {
  .symbolsView {
    flex-direction: column-reverse;
  }
}
